import java.util.Scanner;
public class tugas3 {
    public static void main(String[] args) throws Exception{
        Scanner sc = new Scanner(System.in);
        int a,hasil;
        System.out.print("masukan angka = ");
        a = sc.nextInt();
        hasil = 1;  
        
        while(a > 1)
        {
            System.out.println("perkalian faktorial = " + a + "x");
            hasil = hasil*a;
            a--;
        }
            System.out.print("hasil adalah = " + hasil);
       }
}
